[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shubhamg-optimus
[access "refs/for/refs/*"]
	read = group user/shubhamg-optimus
	push = group user/shubhamg-optimus
	label-Code-Review = -2..+2 group user/shubhamg-optimus
	label-Verified = -1..+1 group user/shubhamg-optimus
	rebase = group user/shubhamg-optimus
	removeReviewer = group user/shubhamg-optimus
	submit = group user/shubhamg-optimus
[access "refs/heads/*"]
	read = group user/shubhamg-optimus
	create = group user/shubhamg-optimus
	push = +force group user/shubhamg-optimus
	pushMerge = group user/shubhamg-optimus
[access "refs/tags/*"]
	push = +force group user/shubhamg-optimus
	pushTag = group user/shubhamg-optimus
	pushSignedTag = group user/shubhamg-optimus
